<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ports" value="4430,4431,4432,4433,4434,4435,4436,4437,4438,4439,4440,4441,4442,4443,4444,4445,4446,4447,4448,4449,4450,4451,4452,4453,4454" />
    <add key="mongodDirectory" value="C:\Program Files\MongoDB\Server\3.2\bin" />
    <add key="dbPath1" value="C:\MongoDB-simulation\data" />
    <add key="dbPath" value="D:\MongoDB\data" />
    <add key="serverIP" value="wmultms1.aus.agilent.com" />
    <add key="mainServerIP1" value="130.194.70.3" />
    <add key="mainServerIP" value="wcostms1.cos.agilent.com" />
    <add key="logPath1" value="C:\MongoDB-simulation\logs" />
    <add key="logPath" value="D:\MongoDB\logs" />
    <add key="exportPath" value="C:\Export-simulation" />
    <add key="serviceRunningIntervalMin" value="1800000" />
    <!-- (1800000 is 30 minutes) Interval in Milli Seconds-->
    <add key="serviceRunningIntervalMax" value="2700000" />
    <!-- (2700000 is 45 minutes) Interval in Milli Seconds-->
    <add key="lockClearingTime" value="2" />
    <!-- lockCLearingTime in Hours-->
    <add key="mailTo" value="luke.visser@agilent.com" />
    <add key="mailFrom" value="zarkov.admin@agilent.com" />
    <add key="smtpClient" value="cos.smtp.agilent.com" />
    <add key="sourceDatabaseName" value="agilent" />
    <add key="destinationDatabaseName" value="agilent" />
    <add key="sourceCollectionName" value="ZarkovDbSchema" />
    <add key="destinationCollectionName" value="ZarkovDbSchema" />
    <add key="locksCollectionName" value="Locks" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>