<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ports" value="4430,4431,4432,5555"/>
    <add key="mongodDirectory" value="C:\Applications\BigData\MongoDB\bin"/>
    <add key="dbPath" value="C:\data"/>
    <add key="serverIP" value="localhost"/>
    <add key="mainServerIP" value="localhost"/>
  </appSettings>
</configuration>